<<<<<<< HEAD
<<<<<<< HEAD
.color-blue {
    background-color: blue;
}
.color-red {
    background-color: red;
}
.color-green {
    background-color: green;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-center {
    margin-left: auto;
    margin-right: auto;
}
.fit-div {
    max-width: 100%;
}
.text-center {
    text-align: center;
}
.article-image-div {
    margin-left: 30p;
    margin-right: 30p;
    margin-top: 50p;
    margin-bottom: 30p;
}
.section-title {
    height: 50p;
    padding-bottom: 60;
}
.game-row {
    padding-bottom: 60;
}
.game-box {
    padding-left: 30;
    padding-right: 30;
}
.game-image {
    padding: 30;
}
.add-height {
    height: 100;
=======
.color-blue {
    background-color: blue;
}
.color-red {
    background-color: red;
}
.color-green {
    background-color: green;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-center {
    margin-left: auto;
    margin-right: auto;
}
.fit-div {
    max-width: 100%;
}
.text-center {
    text-align: center;
}
.article-image-div {
    margin-left: 30p;
    margin-right: 30p;
    margin-top: 50p;
    margin-bottom: 30p;
>>>>>>> 8fc4411e4e03c161370d6d0b59562c7aa2ac1e5b
=======
.color-blue {
    background-color: blue;
}
.color-red {
    background-color: red;
}
.color-green {
    background-color: green;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-center {
    margin-left: auto;
    margin-right: auto;
}
.fit-div {
    max-width: 100%;
}
.text-center {
    text-align: center;
}
.article-image-div {
    margin-left: 30p;
    margin-right: 30p;
    margin-top: 50p;
    margin-bottom: 30p;
}
.section-title {
    height: 50p;
    padding-bottom: 60;
}
.game-row {
    padding-bottom: 60;
}
.game-box {
    padding-left: 30;
    padding-right: 30;
}
.game-image {
    padding: 30;
}
.add-height {
    height: 100;
>>>>>>> 9d40381d78cff696baa49b551defef9a9fa9661a
}